.auth-section {
    text-align: center;
    padding: 80px 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.auth-section h1 {
    margin-bottom: 30px;
    font-size: 32px;
    text-transform: uppercase;
    color: #01b7ab;
}

.auth-section form {
    background: #111118;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 0 25px rgb(0, 255, 238, 0.6);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-section label {
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
    color: #c89b3c;
    font-weight: bold;
}

.auth-section input {
    padding: 12px 20px;
    border-radius: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 18px;
}

.auth-section input:focus {
    outline: 2px solid #00ffee;
    background: rgba(255, 255, 255, 0.2);
}

.auth-section button {
    margin-top: 20px;
    padding: 15px;
    border: none;
    background: #ffbe33;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-section button:hover {
    background: #e6b64d;
    transform: scale(1.02);
}

.alert {
    width: 100%;
    max-width: 450px;
    padding: 15px 20px;
    margin-bottom: 25px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    animation: fadeInAlert 0.4s ease-in-out;
}

.alert-danger {
    background-color: rgba(255, 74, 74, 0.12);
    border: 1px solid #ff4a4a;
    color: #ff4a4a;
    box-shadow: 0 0 20px rgba(255, 74, 74, 0.25);
}

.alert-success {
    background-color: rgba(1, 183, 171, 0.12);
    border: 1px solid #01b7ab;
    color: #01b7ab;
    box-shadow: 0 0 20px rgba(1, 183, 171, 0.25);
}

.forgot-password-container {
    text-align: center;
    margin-top: 10px;
}

.forgot-link {
    color: #888;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s ease;
}

.forgot-link:hover {
    color: #01b7ab;
    text-shadow: 0 0 10px rgba(1, 183, 171, 0.4);
}

.alert a {
    font-weight: bold;
    transition: color 0.2s ease;
}
.alert a:hover {
    color: #c89b3c !important;
}

@keyframes fadeInAlert {
    from { 
        opacity: 0; 
        transform: translateY(-15px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}